APP_NAME=Habyora
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://habyora.ci

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=habyora
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@habyora.ci
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

GENIUSPAY_PUBLIC_KEY=pk_live_xxx
GENIUSPAY_SECRET_KEY=sk_live_xxx
GENIUSPAY_WEBHOOK_SECRET=whsec_xxx
GENIUSPAY_BASE_URL=https://pay.genius.ci/api/v1/merchant
GENIUSPAY_SUCCESS_URL=https://habyora.ci/paiement/succes
GENIUSPAY_ERROR_URL=https://habyora.ci/paiement/echec
